// Buttons
//

$btn-box-shadow:                 none;
$btn-active-box-shadow:          none;

// Use mixin to declare outlined button
.btn-flamingo {
  @include button-outline-variant($color-flamingo);
}

// Allows for customizing button radius independently from global border radius

$btn-border-radius:              8px;
$btn-border-radius-lg:           8px;
$btn-border-radius-sm:           2px;

// Remove outset default
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button, .btn {
  border-style: solid !important;
}